/*

Grid Framework Implementation

Created by: LaForrest Church
Contact: cephalodocs@gmail.com

 */

/* Variables */
$one: 1fr;
$two: repeat(2, 1fr);
$three: repeat(3, 1fr);
$four: repeaat(4, 1fr);
$five: repeat(5, 1fr);
$six: repeat(6, 1fr);
$seven: repeat(7, 1fr);
$eight: repeat(8, 1fr);
$nine: repeat(9, 1fr);
$ten: repeat(10, 1fr);
$eleven: repeat(11, 1fr);
$twelve: repeat(12, 1fr);
$row-slug: u-row;
$col-slug: u-col;
$grid-row-slug: grid-rows;
$grid-col-slug: grid-cols;
$row-span-slug: u-row-span;
$col-span-slug: u-col-span;


/* Mixins */
@mixin span-col($start, $end) {
	grid-column-start: $start;
	grid-column-end: $end;
	grid-column: $start / span $end;
	grid-column-span: ($end - $start) + 1;
	-ms-grid-column-span: ($end - $start) + 1;
}

@mixin span-row($start, $end) {
	grid-row-start: $start;
	grid-row-end: $end;
	grid-row: $start / span $end;
	grid-row-span: ($end - $start) + 1;
	-ms-grid-row-span: ($end - $start) + 1;
}

@mixin col($col) {
	grid-column: $col;
	-ms-grid-column: $col;
}

@mixin row($row) {
	grid-column: $row;
	-ms-grid-column: $row;
}

@mixin grid-rows($num-rows) {
	$rows: repeat($num-rows, 1fr);
	-ms-grid-rows: $rows;
	grid-template-rows: $rows;
}

@mixin grid-cols($num-cols) {
	$cols: repeat($num-cols, 1fr);
	-ms-grid-columns: $cols;
	grid-template-columns: $cols;
}

/* Classes */
.grid {
  display: grid;
  display: -ms-grid;
}

.grid-2x2 {
  display: grid;
  display: -ms-grid; grid-template-columns: $two;
  -ms-grid-columns: $two;
  grid-template-rows: $two;
  -ms-grid-rows: $two;
}

.grid-3x3 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: $three;
  -ms-grid-columns: $three;
  grid-template-rows: $three;
  -ms-grid-rows: $three;
}

.grid-4x4 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: $four;
  -ms-grid-columns: $four;
  grid-template-rows: $four;
  -ms-grid-rows: $four;
}

.grid-12x12 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: $twelve;
  -ms-grid-columns: $twelve;
  grid-template-rows: $twelve;
  -ms-grid-rows: $twelve;
}


@for $l from 1 through 12 {
	.#{$grid-col-slug}-#{$l} {
		@include grid-cols($l);
	}
	.#{$grid-row-slug}-#{$l} {
		@include grid-rows($l);
	}
}

@for $m from 1 through 12 {
	.#{$col-slug}-#{$m} {
		@include col($m);
	}
	.#{$row-slug}-#{$m} {
		@include row($m);
	}
}

@for $n from 1 through 12 {
	@for $i from 1 through $n {
    @if ($n < $i) {
      .#{$row-span-slug}-#{$n}-#{$i} {
        @include span-row($n, $i);
      }
    }
	}

	@for $i from 1 through 12 {
    @if ($n < $i) {
      .#{$col-span-slug}-#{$n}-#{$i} {
        @include span-col($n, $i);
      }
    }
	}
}

@media (max-width: 60em) and (min-width: 40em) {
  @for $l from 1 through 12 {
    .#{$grid-col-slug}-#{$l}-l {
      @include grid-cols($l);
    }
    .#{$grid-row-slug}-#{$l}-l {
      @include grid-rows($l);
    }
  }

  @for $m from 1 through 12 {
    .#{$col-slug}-#{$m}-l {
      @include col($m);
    }
    .#{$row-slug}-#{$m}-l {
      @include row($m);
    }
  }

  @for $n from 1 through 12 {
    @for $i from 1 through $n {
      @if ($n < $i) {
        .#{$row-span-slug}-#{$n}-#{$i}-l {
          @include span-row($n, $i);
        }
      }
    }

    @for $i from 1 through 12 {
      @if ($n < $i) {
        .#{$col-span-slug}-#{$n}-#{$i}-l {
          @include span-col($n, $i);
        }
      }
    }
  }
}

@media (max-width: 40em) and (min-width: 30em) {
  @for $l from 1 through 12 {
    .#{$grid-col-slug}-#{$l}-m {
      @include grid-cols($l);
    }
    .#{$grid-row-slug}-#{$l}-m {
      @include grid-rows($l);
    }
  }

  @for $m from 1 through 12 {
    .#{$col-slug}-#{$m}-m {
      @include col($m);
    }
    .#{$row-slug}-#{$m}-m {
      @include row($m);
    }
  }

  @for $n from 1 through 12 {
    @for $i from 1 through $n {
      @if ($n < $i) {
        .#{$row-span-slug}-#{$n}-#{$i}-m {
          @include span-row($n, $i);
        }
      }
    }

    @for $i from 1 through 12 {
      @if ($n < $i) {
        .#{$col-span-slug}-#{$n}-#{$i}-m {
          @include span-col($n, $i);
        }
      }
    }
  }
}

@media (min-width: 30em) {
  @for $l from 1 through 12 {
    .#{$grid-col-slug}-#{$l}-ns {
      @include grid-cols($l);
    }
    .#{$grid-row-slug}-#{$l}-ns {
      @include grid-rows($l);
    }
  }

  @for $m from 1 through 12 {
    .#{$col-slug}-#{$m}-ns {
      @include col($m);
    }
    .#{$row-slug}-#{$m}-ns {
      @include row($m);
    }
  }

  @for $n from 1 through 12 {
    @for $i from 1 through $n {
      @if ($n < $i) {
        .#{$row-span-slug}-#{$n}-#{$i}-ns {
          @include span-row($n, $i);
        }
      }
    }

    @for $i from 1 through 12 {
      @if ($n < $i) {
        .#{$col-span-slug}-#{$n}-#{$i}-ns {
          @include span-col($n, $i);
        }
      }
    }
  }
}
